<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net461" />
  <package id="DnsClient" version="1.2.0" targetFramework="net461" />
  <package id="EPPlus" version="5.0.4" targetFramework="net461" />
  <package id="Interop.Microsoft.Office.Interop.OneNote" version="1.1.0.0" targetFramework="net461" />
  <package id="Interop.Microsoft.Office.Interop.Publisher" version="2.2.0.0" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.10.2" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.10.2" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.10.2" targetFramework="net461" />
  <package id="MongoDB.Libmongocrypt" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.6.0" targetFramework="net461" />
  <package id="SharpCompress" version="0.24.0" targetFramework="net461" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
</packages>